<header class="main-header">
   <nav class="navbar-header">
    <ul class="nav-ul">
        <li class="nav-item-li">
            <a [routerLink]="['/']" routerLinkActive="router-link-active">
                Home
            </a>
        </li>
        <li class="nav-item-li">
            <a [routerLink]="['/about']" routerLinkActive="router-link-active">
                About
            </a>
        </li>
        <li class="nav-item-li">
            <a [routerLink]="['/project']" routerLinkActive="router-link-active">
                Projects
            </a>
        </li>
        <li class="nav-item-li">
            <a [routerLink]="['/contact']" routerLinkActive="router-link-active">
                Contact Me
            </a>
        </li>

    </ul>
   </nav>
</header>
